/* You can add global styles to this file, and also import other style files */
/* Default light theme */
:root {
    --background-color: #ffffff;
    --text-color: #3b3535;
  }
  
  /* Dark theme */
  .dark-mode {
    --background-color: #3b3535;
    --text-color: #ffffff;
}

   
  body {
    background-color: var(--background-color);
    color: var(--text-color);

  }
  